@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Yesteryear&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.slider {
  width: 100%;
  max-width: 100vw;
  height: 25rem;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .slider__list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .slider__list img {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .slider__buttons {
  position: absolute;
  top: 45%;
  left: 2%;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.slider .slider__buttons button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3333333333);
  color: #FFFFFF;
  border: none;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}
.slider .slider__dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #FFFFFF;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .slider__dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .slider__dots li.active {
  width: 30px;
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  width: 100vw;
}

.footer {
  grid-area: footer;
  background-color: #031c30;
  margin-top: auto;
  padding-top: 1rem;
  border-top: 2px solid #75d3ff;
}
.footer a {
  color: #505050;
  font-size: 1.2rem;
  padding: 0 1rem;
  transition: 0.3s;
}
.footer a:hover {
  color: #f5f5f5;
}
.footer .container {
  color: #505050;
  display: flex;
  justify-content: space-between;
}
.footer .copyright {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: #505050;
}

.header {
  grid-area: header;
  background-color: #031c30;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 5rem;
  padding: 0.2rem;
  border-bottom: 2px solid #75d3ff;
}
.header .header__logo {
  font-size: 3rem;
  cursor: pointer;
}
.header .header__logo a {
  color: #f5f5f5;
  padding-left: 1rem;
}
.header .header__logo span {
  color: #75d3ff;
}

.main {
  grid-area: main;
  padding: 0 4rem;
}
.main .--empty {
  width: 100%;
  height: 5rem;
}

.navbar .navbar__list {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}
.navbar .navbar__list li {
  padding-left: 1.5rem;
}
.navbar .navbar__list li a {
  font-size: 1.5rem;
  color: #FFFFFF;
  width: 100%;
  position: relative;
}
.navbar .navbar__list li a:hover {
  color: #75d3ff;
}
.navbar .navbar__list li a:active {
  color: #60c1ee;
}
.navbar .navbar__list li a:after {
  content: "";
  position: absolute;
  background-color: #75d3ff;
  height: 1.5px;
  width: 0%;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}
.navbar .navbar__list li a:hover::after {
  width: 100%;
}
.navbar .navbar__list li .navbar__list--active {
  color: #75d3ff;
}

.main .about-us__title,
.main .find-us__title {
  color: #031c30;
  font-size: 3rem;
  padding: 2rem 2rem 0 2rem;
}
.main .about-us__title span,
.main .find-us__title span {
  color: #75d3ff;
}
.main .about-us__description,
.main .find-us__description {
  font-size: 1.5rem;
  line-height: 1.5;
}
.main .about-us,
.main .find-us {
  width: 100%;
  border-bottom: 1px solid #031c30;
}
.main .about-us iframe,
.main .find-us iframe {
  width: 100%;
  height: 25rem;
}
.main .logo {
  margin-left: 2em;
}
.main .about-us__logo {
  font-size: 5em;
  font-weight: bold;
}
.main .about-us__logo {
  color: #031c30;
}
.main .about-us__logo span {
  color: #75d3ff;
}/*# sourceMappingURL=main.css.map */