// Azul Claro: #75d3ff
// Azul Medio: #3f82ba
// Azul Oscuro: #1E90FF
// Azul Profundo: #031c30
// Blanco: #FFFFFF
// Gris Claro: #f5f5f5
// Gris Oscuro: #505050

$color01: #75d3ff;
$color01Active: #60c1ee;
$color02: #3f82ba;
$color03: #1E90FF;
$color04: #031c30;

$colorWhite: #FFFFFF;
$colorGrey: #f5f5f5;
$colorDarkGrey: #505050;